<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headFragment">
    <meta charset="UTF-8">
    <link th:href="@{/frameworks/bootstrap-5.0.0-dist/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <title th:include=":: #pageTitle">Layout Generic Title</title>
</head>

<div th:fragment="scripts">
    <script th:src="@{/frameworks/bootstrap-5.0.0-dist/js/bootstrap.bundle.min.js}"></script>

</div>

<div th:fragment="footerFragment" class="navbar fixed-bottom">
    <div class="d-block w-100 container" th:insert="fragments/spanner :: spannerFragment(currentpage = ${currentpage}, percent = ${percent})"></div>
    <div class="border-top border-secondary border-2 bg-light d-block w-100">
        <div class="container py-3">
            HTBLA Grieskirchen
        </div>
    </div>
</div>

<div th:fragment="footerWithoutCurrentPageFragment" class="navbar fixed-bottom">
     <div class="border-top border-secondary border-2 bg-light d-block w-100">
        <div class="container py-3">
            HTBLA Grieskirchen
        </div>
    </div>
</div>

</html>