<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: headFragment">
  <title id="pageTitle">AppointmentVerification</title>
</head>
<body class="mx-5">

<div th:insert="fragments/navbar :: navbarFragment"></div>

<div class="container-md">
  <h1>Ihr COVID19 Screening-Termin</h1>
  <div class="card" style="width: 18rem;">
    <div class="card-header">
      <img class="card-img-top" th:src="|/barcode?code=*{registration.id}|" />
    </div>

    <div class="card-body">
      <h5 class="card-title" th:text="*{registration.id}"></h5>

      <p class="card-text">Fortlaufende Lauzettel Nummer</p>
    </div>
  </div>

  <!--WIP-->
  <div style="margin:6px" th:insert="fragments/pinlocation :: pinlocationFragment (locationName = *{screening_station.city}, locationCity =*{screening_station.plz} + *{screening_station.city}, locationStreet = *{screening_station.street} + *{screening_station.building})"></div>

  <div style="margin:10px" th:insert="fragments/calendar :: calendarFragment (date = *{registration.testDateTime}, time = *{registration.testDateTime})"></div>

 
  <button class="btn btn-primary">Termin stornieren</button>
  <button class="btn btn-primary">Laufzettel herunterladen</button>

  </div>
<div th:insert="fragments/layout :: scripts">

</div>
</body>
</html>