<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: headFragment">
    <title id="pageTitle">Authentication</title>
</head>
<body class="mx-5">

<div th:insert="fragments/navbar :: navbarFragment"></div>

<div class="container-md">
    <h1>Ihr COVID19 Screening-Termin</h1>

    <div class="alert alert-success">Ihr Termin wurde storniert.</div>

    <div th:insert="fragments/layout :: footerWithoutCurrentPageFragment"></div>
</div>

<div th:insert="fragments/layout :: scripts"></div>
<script th:src="@{/JS/script.js}"></script>

</body>
</html>