<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: headFragment">
    <title id="pageTitle">Start</title>
</head>
<body class="mx-5">

<div th:insert="fragments/navbar :: navbarFragment"></div>

<div class="container-md">
    <h1>Haha lol host da docht</h1>

    <div th:insert="fragments/layout :: footerWithoutCurrentPageFragment"></div>
</div>

<div th:insert="fragments/layout :: scripts"></div>
<script th:src="@{/JS/script.js}"></script>

</body>
</html>