<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: headFragment">
    <title id="pageTitle">ScreeningStation</title>
</head>
<body class="mx-5">

<div th:insert="fragments/navbar :: navbarFragment"></div>

<div class="container-md">
    <h1>Screeningstation auswählen</h1>
    <p>Bitte wählen Sie eine der verfügbaren Screeningstationen aus.</p>

    <p class="text-muted">Bezirk:</p>

    <select class="form-select">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>

<div class="border mb-3">
    <ul class="list-group location-list list-group-flush" >
        <li class="list-group-item">
            <div th:insert="fragments/pinlocation :: pinlocationFragment (locationName = 'Schulzentrum - Raiffeisen Arena, Grieskirchen', locationCity = '4710 Grieskirchen', locationStreet = 'Parzer Schulstraße 1')"></div>
        </li>
        <li class="list-group-item">
            <div th:insert="fragments/pinlocation :: pinlocationFragment (locationName = 'Schulzentrum - Raiffeisen Arena, Grieskirchen', locationCity = '4710 Grieskirchen', locationStreet = 'Parzer Schulstraße 1')"></div>
        </li>
        <li class="list-group-item">
            <div th:insert="fragments/pinlocation :: pinlocationFragment (locationName = 'Schulzentrum - Raiffeisen Arena, Grieskirchen', locationCity = '4710 Grieskirchen', locationStreet = 'Parzer Schulstraße 1')"></div>
        </li>
        <li class="list-group-item">
            <div th:insert="fragments/pinlocation :: pinlocationFragment (locationName = 'Schulzentrum - Raiffeisen Arena, Grieskirchen', locationCity = '4710 Grieskirchen', locationStreet = 'Parzer Schulstraße 1')"></div>
        </li>
    </ul>
</div>

    <div>
        <h3>Gewählte Screeningstation</h3>
        <div th:insert="fragments/pinlocation :: pinlocationFragment (locationName = 'Schulzentrum - Raiffeisen Arena, Grieskirchen', locationCity = '4710 Grieskirchen', locationStreet = 'Parzer Schulstraße 1')"></div>
    </div>



    <a href="/timeSlot" class="btn btn-primary float-end">Weiter</a>
    <div th:insert="fragments/layout :: footerFragment (currentpage = 2, percent = 37.5)"></div>
</div>

<div th:insert="fragments/layout :: scripts">


</div>
</body>
</html>