<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: headFragment">
    <title id="pageTitle">Start</title>
</head>
<body class="mx-5">

<div th:insert="fragments/navbar :: navbarFragment"></div>

<div class="container-md">
    <h1>Anmeldung zum Covid-19 Schnelltest</h1>
    <p>Zur Sicherheit Ihrer persönlichen Daten ist es notwendig, Sie eindeutig zu identifizieren</p>
    <p>Bitte geben Sie Ihr Geburtsdatum ein.</p>

    <div>
        <label>Geburtsdatum:</label>
        <br>
        <input type="date">
    </div>

    <button class="btn btn-primary mt-3 float-end">Bestätigen</button>
    <br>



    <div th:insert="fragments/layout :: footerFragment (currentpage = 1, percent = 12.5)"></div>
</div>

<div th:insert="fragments/layout :: scripts"></div>


</body>
</html>