<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: headFragment">
    <title id="pageTitle">Start</title>
</head>
<body>

<div th:insert="fragments/navbar :: navbarFragment"></div>

<div class="container-md">
    <h1>Anmeldung zum Covid-19 Schnelltest</h1>
    <p>Zur Sicherheit Ihrer persönlichen Daten ist es notwendig, Sie eindeutig zu identifizieren</p>
    <p>Bitte geben Sie Ihr Geburtsdatum ein.</p>

    <div>
        <label>Geburtsdatum:</label>
        <br>
        <input type="date">
    </div>

    <button class="btn btn-primary">Bestätigen</button>


<div th:insert="fragments/spanner :: spannerFragment(currentpage = 1, percent = 12.5)"></div>

    <div class="navbar fixed-bottom">
        <div class="container">
            <img th:src="@{/img/Logo_HTLBA_Grieskirchen.png}">
        </div>
    </div>

</div>

<div th:insert="fragments/layout :: scripts">

</div>

</body>
</html>