<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: headFragment">
    <title id="pageTitle">TimeSlot</title>
</head>
<body class="mx-5">
<div th:insert="fragments/navbar :: navbarFragment"></div>

<div class="container-md">
    <h1>Buchen Sie Ihren Testtermin</h1>
    <div th:insert="fragments/pinlocation :: pinlocationFragment (locationName = 'Schulzentrum - Raiffeisen Arena, Grieskirchen', locationCity = '4710 Grieskirchen', locationStreet = 'Parzer Schulstraße 1')"></div>

    <input type="date" class="form-select my-2"/>

    <div class="border mb-3">
        <ul class="list-group location-list list-group-flush" >
            <li class="list-group-item text-muted d-flex justify-content-between align-items-center">
                13:00
                <span class="badge text-muted my-2">!</span>
            </li>
            <li class="list-group-item text-muted d-flex justify-content-between align-items-center">
                13:15
                <span class="badge text-muted my-2">!</span>
            </li>
            <li class="list-group-item text-muted d-flex justify-content-between align-items-center">
                13:30
                <span class="badge text-muted my-2">!</span>
            </li>
            <li class="list-group-item text-muted d-flex justify-content-between align-items-center">
                13:45
                <span class="badge text-muted my-2">!</span>
            </li>
            <li class="list-group-item text-muted d-flex justify-content-between align-items-center">
                14:00
                <span class="badge text-muted my-2">!</span>
            </li>
        </ul>
    </div>

    <a href="/screeningstation" class="btn btn-outline-primary">Zurück</a>
    <a href="/completed" class="btn btn-primary float-end">Buchung abschließen</a>

    <div th:insert="fragments/layout :: footerFragment (currentpage = 3, percent = 62.5)"></div>
</div>

<div th:insert="fragments/layout :: scripts"></div>
<script th:src="@{/JS/script.js}"></script>
</body>
</html>