<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <title>HTL-Testet Prototype</title>
</head>
<body>
    <h1>Add a patient</h1>
    <form th:action="@{/}" th:object="${patient}" method="post">
        <p>Firstname: <input type="text" th:field="*{firstname}"/></p>
        <p>Lastname : <input type="text" th:field="*{lastname}"/></p>
        <button type="submit">Register</button>
    </form>
    <table>
        <thead>
            <tr>
                <th> Id </th>
                <th> Firstname </th>
                <th> Lastname </th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="p : ${patients}">
                <td><a th:href="@{/show(searchId=${p.id})}" th:text="${p.id}"> Id </a></td>
                <td><span th:text="${p.firstname}"> Firstname </span></td>
                <td><span th:text="${p.lastname}"> Firstname </span></td>
            </tr>
        </tbody>
    </table>
</body>
</html>