<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/layout :: headFragment">
  <title id="pageTitle">Login</title>
</head>
<body class="mx-5">

<div class="card fadeInDown mx-auto mt-5" style="width: 30rem;">
  <div class="card-body">
    <h1 class="card-title">Login</h1>
    <h2 class="card-subtitle mb-2 text-muted">für HTL-Testet</h2>
    <form th:action="@{/login}" method="post" class="card-text">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" style="width: 2.5em;" id="basic-addon1">@</span>
        </div>
        <input type="email" name="username" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text pl-2" style="width: 2.5em;" id="basic-addon2">*</span>
        </div>
        <input type="password" name="password" class="form-control" placeholder="Passwort" aria-label="Passwort" aria-describedby="basic-addon2">
      </div>
      <select class="mb-3 form-select" name="screeningStationId" aria-label="Teststraße auswählen">
        <option th:each="i : ${screeningStations}" th:value="${i.id}" th:text="${i.name}"></option>
      </select>
      <input type="submit" class="fadeIn fourth btn btn-primary btn-lg" value="Anmelden">
    </form>
  </div>
</div>

<div th:insert="fragments/layout :: scripts"></div>
<script th:src="@{/JS/script.js}"></script>

</body>
</html>