<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Terminbestätigung</title>
	<style>
		body {
			margin: 25px;
			font-family: sans-serif;
		}

		h1 {
			font-size: 2rem;
		}

		p {
			font-size: 1.2rem;
		}

		button {
			border: none;
			padding: 10px 20px;

			color: white;
			background-color: #0063AB;

			font-size: 1.3rem;
		}

		.table-right {
			font-weight: bold;
		}

		.table-left {
			padding-left: 50px;
		}

		#content {
			margin-bottom: 10px;
		}

		#organisation {
			margin: 0;
			font-size: 0.8rem;
		}
	</style>
</head>
<body>

<div th:insert="fragments/navbar :: navbarFragment"></div>

	<h1>Terminbestätigung</h1>
	<div id="content">
		<p>Ihr Termin für den kostenlosen COVID-19 Test wurde gebucht.<br>
		Zum Test bitte mitbringen:</p>

		<ul>
			<li>Gedruckten Laufzettel aus Ihrer Anmeldung <b>oder</b> die Laufzettel-Nummer</li>
			<li>Ausweis</li>
		</ul>

		<table border="0">
			<tr>
				<td class="table-right">Laufzettel-Nummer</td>
				<td class="table-left">123456</td>
			</tr>
			<tr>
				<td class="table-right">Datum</td>
				<td class="table-left">22.03.2021</td>
			</tr>
			<tr>
				<td class="table-right">Zeit</td>
				<td class="table-left">13:11</td>
			</tr>
			<tr>
				<td class="table-right">Ort</td>
				<td class="table-left">Parzer Schulstraße 1 - 4710 Grieskirchen</td>
			</tr>
		</table>
	</div>
	<a href="https://www.google.at"><button>Termin anzeigen</button></a>
	<br><br>

	------------------------------------------------ <br>
	<p id="organisation">Bundesministerium <br>
	Soziales, Gesundheit, Pflege <br>
	und Konsumentenschutz</p>
</body>
</html>
